<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Side Nav</mat-icon>
      </button>
      <div fxFlex></div>
      <button mat-button class="toolbar__icon-button mat-button">
        <mat-icon>web</mat-icon>
        <span style="margin-left: 5px !important;">425</span>
      </button>
      <button mat-button class="mat-button">
        About
      </button>
      <button mat-button class="mat-button">
        Contact Us
      </button>
  
      <button mat-button class="mat-button">
          <a class="md" href="https://github.com/effects67/web-425">GitHub</a>
        </button>
  
      <div fxFlex></div>
  
      <!-- User Profile -->
      <button class="toolbar__icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>Account</mat-icon>
      </button>
      <mat-menu #menu="matMenu" style="padding-right: 100px">
        <button mat-menu-item>
          <mat-icon>Profile</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>Settings</mat-icon>
          <span>Change settings here</span>
        </button>
        <button mat-menu-item>
          <mat-icon>Logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="emotions">Hi, how are you feeling?</button>
        <mat-menu #emotions="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="Happy">Happy</button>
          <button mat-menu-item [matMenuTriggerFor]="Sad">Sad</button>
          <button mat-menu-item [matMenuTriggerFor]="Angry">Angry</button>
          <button mat-menu-item [matMenuTriggerFor]="Bored">Bored</button>
        </mat-menu>
  
          <mat-menu #Happy="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="why0">Why?</button>
          </mat-menu>
            <mat-menu #why0="matMenu">
              <button mat-menu-item>Because I love Angular!</button>
            </mat-menu>
  
          <mat-menu #Sad="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="why1">Why?</button>
          </mat-menu>
            <mat-menu #why1="matMenu">
              <button mat-menu-item>Because Angular is too hard!</button>
            </mat-menu>
  
          <mat-menu #Angry="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="why2">Why?</button>
          </mat-menu>
            <mat-menu #why2="matMenu">
              <button mat-menu-item>Because I hate Angular!</button>
            </mat-menu>
  
          <mat-menu #Bored="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="why3">Why?</button>
          </mat-menu>
            <mat-menu #why3="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="try">Because Angular is too easy.</button>
            </mat-menu>
            <mat-menu #try="matMenu">
              <button mat-menu-item>
                <a class="md1" href="https://mdbootstrap.com/angular/">Try Angular MD</a>
              </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
