.mat-card-content { 
    width: 100%; 
}

.title {
    margin: 10px;
}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 0 10px;
}

div.wrapper { 
    width: 50%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding: 70px 70px 70px; 
    display: inline-block; 
    position: center;
}

.btn-login { 
    background-color: dodgerblue; 
    color: white; 
}

.frm-login-actions { text-align: right; }

.invoice{
    padding: 5%;
}