<main-nav>

    <div class="wrapper" fxLayout="row" fxLayoutGap="10px" 
    fxLayoutAlign="center" fxLayoutWrap fxLayoutGap="0.5%">
    <mat-card style="max-width: 100%; max-height: 100%">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <h2>Phone Validator</h2>
            <div>
              Phone number:
              
              <input type="text" name="telephone" ngModel
                     required
                     pattern="[0-9]*"
                     minlength="10"
                     #phone="ngModel"
                     [class.hasError]="phone.isvalid && phone.touched">
          
              <div [hidden]="phone.valid || phone.pristine">
                <div class="error" [hidden]="!phone.hasError('minlength')">Phone has to have at least 10 digits</div>
                <div class="error" [hidden]="!phone.hasError('required')">Phone is required</div>
                <div class="error" [hidden]="!phone.hasError('pattern')">Only digits are allowed</div>
              </div>
              
            </div>
          
            <button type="submit" [disabled]="f.invalid">Submit</button>
          
          </form>
      
    </mat-card>
    </div>
    
    
    
    
      
    </main-nav>
    