.mat-card-content { 
    width: 100%; 
}

h2.title {
    margin: 10px;
    text-align: center;
}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 0 10px;
}

div.wrapper { 
    width: 70%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    padding: 70px 70px 70px; 
    display: inline-block; 
    position: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.invoice{
    padding: 5%;
    text-align: center;
}

.btn-login { 
    background-color: dodgerblue; 
    color: white; 
}

.frm-login-actions { text-align: right; }